@model Speranza.Models.AdminUsersModel
@{
    ViewBag.Title = "Správa používateľov";
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <h2>Správa používateľov</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Meno</th>
                <th>Priezvisko</th>
                <th>Email</th>
                <th>Tel. číslo</th>
                <th>Kategória</th>
                <th>Stav permanentky</th>
                <th>Admin</th>
            </tr>
        </thead>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td></td>
                <td></td>
                <td>@Html.CheckBox( "IsAdmin",new { id = user.Email, @class = "IsAdmin" }) </td>
            </tr>
        }

    </table>
</div>

@section scripts {
    <script>
        $(function() {
            $('.IsAdmin').change(function () {
                
                var self = $(this);
                var url = self.data('url');
                var id = self.attr('id');
                var value = self.prop('checked');
                $.ajax({
                    url: "ToggleAdmin",
                    data: { id: id, isAdmin:value },
                    type: 'POST',
                    dataType: "json",
                    success: function(response) {
                        alert("success"+ response);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
               
            });
        });
    </script>
}