
@model Speranza.Models.TrainingsDetailsModel

<div id="messageBoxTrainingDetails" style="display:none;" class="alert alert-success" role="alert"></div>

<h2>Plánované tréningy</h2>

@if(Model.UserTrainings == null || Model.UserTrainings.Count == 0)
{
    <p>Užívateľ nie je prihlásený na žiaden tréning.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
            <tr>
                <th>Dátum</th>
                <th>Čas</th>
                <th>Tréner</th>
                <th>Popis</th>
                <th>Akcie</th>
            </tr>
            </thead>

            @foreach (var training in Model.UserTrainings)
            {
                <tr id="@training.ID">
                    <td>@training.Time.ToString("dd.MM.yyyy")</td>
                    <td>@training.Time.ToString("HH:mm")</td>
                    <td>@training.Trainer</td>
                    <td>@training.Description</td>
                    <td><a class="UserSignOut" data-email="@Model.Email" data-training="@training.ID" href="#">Odhlás používateľa</a></td>
                </tr>
            }
        </table>
    </div>
}
<h2> Voľné tréningy </h2>
@if (Model.AvailableTrainings == null || Model.AvailableTrainings.Count == 0)
{
    <p>Momentálne nie je možné sa prihlásiť na žiaden tréning.</p>
}
else
{

    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
            <tr>
                <th>Dátum</th>
                <th>Čas</th>
                <th>Tréner</th>
                <th>Popis</th>
                <th>Akcie</th>
            </tr>
            </thead>

            @foreach (var training in Model.AvailableTrainings)
            {
                <tr id="@training.ID">
                    <td>@training.Time.ToString("dd.MM.yyyy")</td>
                    <td>@training.Time.ToString("HH:mm")</td>
                    <td>@training.Trainer</td>
                    <td>@training.Description</td>
                    <td><a class="UserSignUp" data-email="@Model.Email" data-training="@training.ID" href="#">Prihlás používateľa</a></td>
                </tr>
            }
        </table>
    </div>
}
        <script>

            $(function () {
                $('.UserSignOut').click(function () {
                    var self = $(this);
                    var id = self.data('email');
                    var training = self.data('training');
                    $.ajax({
                        url: "SignOutFromTraining",
                        data: { id: id, training: training },
                        type: 'POST',
                        dataType: "json",
                        success: function (response) {
                            if (response.Message == 6) {
                                $('#' + training).remove();
                                $('#messageBoxTrainingDetails').html("Užívateľ <b>" + response.Email + "</b> bol úspešne odhlásený z tréningu <b>" + response.TrainingDate + "</b> o: <b>" + response.TrainingTime + "</b>!");
                                $('#messageBoxTrainingDetails').show();
                                $('#' + getEmailForJS(id) + '-TrainingCount').html($('#' + getEmailForJS(id) + '-TrainingCount').html() - 1);
                            }


                        }
                    });

                });
            });

            $(function () {
                $('.UserSignUp').click(function () {
                    var self = $(this);
                    var email = self.data('email');
                    var training = self.data('training');
                    $.ajax({
                        url: "SignUpToTraining",
                        data: { training: training, email: email },
                        type: 'POST',
                        dataType: "json",
                        success: function (response) {
                                alert("ahoj");

                        }
                    });

                });
            });

        </script>