
@model Speranza.Models.TrainingsDetailsModel

<div id="messageBoxTrainingDetails" style="display:none;" class="alert alert-success" role="alert"></div>
<div id="messageBoxTrainingDetailsAlert" style="display:none;" class="alert alert-danger" role="alert"></div>

<h2>Plánované tréningy</h2>

@if(Model.UserTrainings == null || Model.UserTrainings.Count == 0)
{
    <p>Užívateľ nie je prihlásený na žiaden tréning.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
            <tr class="d-flex">
                <th class="col-2">Dátum</th>
                <th class="col-2">Čas</th>
                <th class="col-2">Tréner</th>
                <th class="col-3">Popis</th>
                <th class="col-3">Akcie</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var training in Model.UserTrainings)
                {
                    <tr class="d-flex" id="@training.ID">
                        <td class="col-2">@training.Time.ToString("dd.MM.yyyy")</td>
                        <td class="col-2">@training.Time.ToString("HH:mm")</td>
                        <td class="col-2">@training.Trainer</td>
                        <td class="col-3">@training.Description</td>
                        <td class="col-3"><a class="UserSignOut" data-email="@Model.Email" data-training="@training.ID" href="#">Odhlás používateľa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<h2> Voľné tréningy </h2>
@if (Model.AvailableTrainings == null || Model.AvailableTrainings.Count == 0)
{
    <p>Momentálne nie je možné sa prihlásiť na žiaden tréning.</p>
}
else
{
    <div class="input-group mb-3 myForm">
        <div class="input-group-prepend">
            <span class="input-group-text octicon octicon-calendar octicon-newTraining"></span>
        </div>
        <input id="availableTraningsDatePicker" type="text" class="form-control col-lg-2 col-sm-4" value="@DateTime.Now.ToString("dd.MM.yyyy")">
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="availableTraningsTable">
            <thead>
            <tr class="d-flex">
                <th class="col-2">Dátum</th>
                <th class="col-2">Čas</th>
                <th class="col-2">Tréner</th>
                <th class="col-3">Popis</th>
                <th class="col-3">Akcie</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var training in Model.AvailableTrainings)
                {
                    <tr class="d-flex" id="@training.ID">
                        <td class="col-2">@training.Time.ToString("dd.MM.yyyy")</td>
                        <td class="col-2">@training.Time.ToString("HH:mm")</td>
                        <td class="col-2">@training.Trainer</td>
                        <td class="col-3">@training.Description</td>
                        <td class="col-3"><a class="UserSignUp" data-email="@Model.Email" data-training="@training.ID" href="#">Prihlás používateľa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
        <script>

            $(function () {
                $('.UserSignOut').click(function () {
                    var self = $(this);
                    var id = self.data('email');
                    var training = self.data('training');
                    $.ajax({
                        url: "SignOutFromTraining",
                        data: { id: id, training: training },
                        type: 'POST',
                        dataType: "json",
                        success: function (response) {
                            if (response.Message == 6) {
                                var parentTd = self.parent();
                                self.remove();
                                parentTd.append('<span class="octicon octicon-sign-out userSignedOutOcticon"></span>');
                                $('#messageBoxTrainingDetails').html("Užívateľ <b>" + response.Email + "</b> bol úspešne odhlásený z tréningu <b>" + response.TrainingDate + "</b> o: <b>" + response.TrainingTime + "</b>!");
                                $('#messageBoxTrainingDetails').show();
                                $('#' + getEmailForJS(id) + '-TrainingCount').html($('#' + getEmailForJS(id) + '-TrainingCount').html() - 1);
                            }


                        }
                    });

                });
            });

            $(function () {
                $('.UserSignUp').click(function () {
                    var self = $(this);
                    var email = self.data('email');
                    var training = self.data('training');
                    $.ajax({
                        url: "SignUpToTraining",
                        data: { training: training, email: email },
                        type: 'POST',
                        dataType: "json",
                        success: function (response) {
                            var parentTd = self.parent();
                            self.remove();
                            parentTd.append('<span class="octicon octicon-sign-in userSignedUpOcticon"></span>');
                            $('#messageBoxTrainingDetails').html("Užívateľ <b>" + response.Email + "</b> bol úspešne prihlásený na tréning");
                            $('#messageBoxTrainingDetails').show();
                            if (response.HasNoAvailableTrainings) {
                                $('#messageBoxTrainingDetailsAlert').html("Užívateľ <b>" + response.Email + "</b> nemá žiadne voľné vstupy!");
                                $('#messageBoxTrainingDetailsAlert').show();
                            }
                            var trainingCount = parseInt($('#' + getEmailForJS(email) + '-TrainingCount').html());
                            $('#' + getEmailForJS(email) + '-TrainingCount').html(trainingCount + 1);
                        }
                    });

                });
            });

            initAvailableTrainingsTable();
        </script>