@model Speranza.Models.AdminTrainingsModel
@{
    ViewBag.Title = "Správa  budúcich tréningov";
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <div id="messageBox" style="display:none;" class="alert alert-success" role="alert"></div>
    <div id="messageBoxWarning" style="display:none;" class="alert alert-warning" role="alert"></div>
</div>

<div class="container trainingSettings">
    <h2>
        Nastavenia
    </h2>
    <div class="form-group form-horizontal">
        @Html.Label("Limit pre odhlásenie: ", new { @class = "control-label col-sm-2", title = "Počet hodín pred tréningom, pokiaľ sa používateľ ešťe môže odhlásiť" })
        <div class="input-group col-sm-2">
            <input id="SignOffLimit" type="number" value="@Model.SignOffLimit" min="0" class="form-control" />
            <div id="SignOffLimitHours" class="control-label input-group-addon">hod.</div>
        </div>
    </div>

</div>

<div class="container">
    <h2>
        Správa budúcich tréningov
        <button id="AddNewTraining" title="Vytvorenie nového tréningu" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span></button>
        <a class="btn btn-success" href="~/AdminFutureTrainings/Recurring" title="Nastavenie opakujúcich sa tréningov"><span class="glyphicon glyphicon-star"></span></a>
    </h2>

    <div class="form-group form-horizontal col-sm-4 pull-right paginationSettings">
        @Html.Label("Počet tréningov na stránku:", new { @class = "control-label col-sm-9"})
        <div class="input-group col-sm-3">
            <select  id="pageSize" class="form-control">
                @foreach(var size in new[] { 20,40,50,100})
                {
                    <option @(Model.PageSize == size ? "selected=\"selected\"":"")>@size</option>
                }
            </select>
        </div>
    </div>

   

    <nav aria-label="Page navigation" class="pull-left col-sm-8">
        <ul class="pagination left">
            @if (Model.PageNumber == 1)
            {
                <li id="liPrev" class="disabled">
                    <a class="liPage" data-page="@(Model.PageNumber-1)" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li id="liPrev">
                    <a  class="liPage" data-page="@(Model.PageNumber-1)" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }


            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.PageNumber)
                {
                    <li id="liPage-@i" class="active"><a class="liPage" data-page="@i" href="#">@i</a></li>
                }
                else
                {
                    <li id="liPage-@i"><a class="liPage" data-page="@i" href="#">@i</a></li>
                }
            }
            @if (Model.PageNumber == Model.PagesCount)
            {
                <li id="liNext" class="disabled">
                    <a class="liPage" data-page="@(Model.PageNumber+1)" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li id="liNext">
                    <a class="liPage" data-page="@(Model.PageNumber+1)" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>
        
    </nav>
   
    <div id="loader" class="loader"></div>
    <table class="table table-striped table-hover" id="TrainingsTable">
        <thead>
            <tr>
                <th class="col-xs-1">Dátum</th>
                <th class="col-xs-1">Čas</th>
                <th class="col-xs-3">Popis</th>
                <th class="col-xs-2">Tréner</th>
                <th class="col-xs-1">Prihlásení</th>
                <th class="col-xs-1">Kapacita</th>
                <th>Akcia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Trainings.OrderBy(s => s.Time))
            {
                <tr id="@item.ID-Row">
                    <td id="@item.ID-date">@item.Time.ToString("dd.MM.yyyy")</td>
                    <td id="@item.ID-time">@item.Time.ToString("HH:mm")</td>
                    <td><textarea class="trainingDescription form-control input-sm" rows="1" data-training="@item.ID">@item.Description</textarea></td>
                    <td><input type="text" value="@item.Trainer" class="trainingTrainer form-control input-sm" data-training="@item.ID" /></td>
                    <td>
                        <span id="@item.ID-RegisteredNumber">@item.RegisteredNumber</span>
                        <span class="label label-info TrainingDetails" style="cursor:pointer" data-training="@item.ID">Detail</span>
                    </td>
                    <td><input id="TrainingCapacity" type="number" value="@item.Capacity" min="1" class="trainingCapacity form-control input-sm " data-training="@item.ID" /></td>
                    <td><a class="CancelTraining" data-training="@item.ID" href="#">Zrušiť tréning</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>



@Html.Partial("NewTrainingForm")
@Html.Partial("TrainingDetails")

@section scripts {
    <script>
        $(function () {
            $("#loader").hide();
            var people = [
                @if(Model.Users.Count > 0)
                {
                    var value = "\"" + Model.Users[0].Name + " " + Model.Users[0].Surname +" ("+Model.Users[0].Email+")\"";
                    @Html.Raw(value);
                    for (int i = 1; i< Model.Users.Count; i++)
                    {
                        value = ",\"" + Model.Users[i].Name + " " + Model.Users[i].Surname +" (" + Model.Users[i].Email + ")\"";
                         @Html.Raw(value);
                    }
                }

            ];
            $("#AddUser").autocomplete({
                source: people
            });
        })

        $(function () {

            $(".liPage").click(function () {
                var self = $(this);
                if (self.parent().hasClass("disabled")) {
                    return;
                }
                var size = $("#pageSize").val();
                var page = self.data("page");
                $("#loader").show();
                $.ajax({
                    //controller method
                    url: "ShowTrainingsPage",
                    //controller method parameter : trainingID
                    data: { page: page, size : size },
                    type: 'POST',
                    dataType: "html",
                    success: function (response) {
                        $("#TrainingsTable").html(response);
                        $("li.active").removeClass("active");
                        $("#liPage-" + page).addClass("active");
                        $("#liNext a").data("page", page + 1);
                        if (page ==@Model.PagesCount) {
                            $("#liNext").addClass("disabled");
                        }
                        else {
                            $("#liNext").removeClass("disabled");
            }
            $("#liPrev a").data("page", page - 1);
            if (page == 1) {
                $("#liPrev").addClass("disabled");
            }
            else {
                $("#liPrev").removeClass("disabled");
            }
                        $("#loader").hide();
                    }
                })

            })
        })

        $("#pageSize").change(function(){
            var self = $(this);
            var value = self.val();
            var url ='@Url.Action("AdminTrainings", "AdminFutureTrainings", new { pageSize = -1 })';
            window.location.href = url.replace("-1",value);
        });
    </script>


    <script src="~/Scripts/AdminTrainings.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
}
