@*New training modal window*@
<div class="modal fade" id="NewTraining" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vytvoriť nový tréning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body form-horizontal">
                <div id="messageBoxNewTraining" style="display:none;" class="alert alert-warning" role="alert"></div>
                @*Training date*@
                <div class="form-group">
                    @Html.Label("Dátum:", new { @class = "control-label col-sm-3" })
                    <div class="input-group date col-sm-4">
                        <input id="TrainingDate" type="text" class="form-control">
                    </div>
                </div>

                @*Training time*@
                <div class="form-group">
                    @Html.Label("Čas:", new { @class = "control-label col-sm-3" })
                    <div class="input-group col-sm-4">
                        <select id="TrainingTime" class="form-control">
                            @for (int i = 6; i < 20; i++)
                            {
                                <option>@string.Format("{0:00}:00",i)</option>
                            }
                            </select>
                    </div>
                </div>

                @*Training trainer*@
                <div class="form-group">
                    @Html.Label("Tréner:", new { @class = "control-label col-sm-3", @for = "Trainer" })
                    <div class="col-sm-6 input-group">
                        @Html.TextBox("Trainer", "", new { @class = "form-control", id = "NewTrainingTrainer" })
                    </div>
                </div>

                @*Training Description*@
                <div class="form-group">
                    @Html.Label("Popis:", new { @class = "control-label col-sm-3", @for = "Description" })
                    <div class="col-sm-6 input-group">
                        @Html.TextArea("Description", "", new { @class = "form-control", id = "NewTrainingDescription" })
                    </div>
                </div>

                @*Training Capacity*@
                <div class="form-group">
                    @Html.Label("Kapacita:", new { @class = "control-label col-sm-3", @for = "Capacity" })
                    <div class="col-sm-6 input-group">
                        <input type="number" name="Capacity" min="1" value="10" class="form-control" id="NewTrainingCapacity">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                @*SaveButton*@
                <button id="CreateTrainingButton" type="submit" class="btn btn-default">Vytvoriť</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušiť</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

