@using Speranza.Views
@model Speranza.Models.UsersInTrainingModel


@if (Model.Users == null || Model.Users.Count == 0)
{
    <p style="color:whitesmoke">Na tomto tréningu nie je nikto prihlásený!</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped" id="UsersInTrainingTable">
            <thead>
            <tr class="d-flex">
                <th class="col-1">Meno</th>
                <th class="col-2">Priezvisko</th>
                <th class="col-4">Email</th>
                <th class="col-3">Čas prihlásenia</th>
                <th class="col-2">Akcia</th>
            </tr>
            </thead>
            @foreach (var user in Model.Users)
            {
                <tr class="d-flex" id="@ViewHelper.GetEmailForJS(user.Email)">
                    <td class="col-1">@user.Name </td>
                    <td class="col-2">@user.Surname </td>
                    <td class="col-4">@user.Email</td>
                    <td class="col-3">@user.SignUpTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td class="col-2"><a class="UserSignOutFromTraining" data-email="@user.Email" data-training="@Model.TrainingID" href="#">Odhlás používateľa</a></td>
                </tr>
            }

        </table>
    </div>
        }
