@model Speranza.Models.UsersInTrainingModel
    @using Speranza.Views


@if (Model.Users == null || Model.Users.Count == 0)
{
    <p>Na tomto tréningu nie je nikto prihlásený!</p>
}
else
{
    <table class="table table-striped" id="UsersInTrainingTable">
        <thead>
            <tr>
                <th>Meno</th>
                <th>Priezvisko</th>
                <th>Email</th>
                <th>Čas prihlásenia</th>
                <th>Akcia</th>
            </tr>
            </thead>
        @foreach (var user in Model.Users)
        {
         <tr id="@ViewHelper.GetEmailForJS(user.Email)">
            <td>@user.Name </td>
            <td>@user.Surname </td>
             <td>@user.Email</td>
            <td>@user.SignUpTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
             <td><a class="UserSignOutFromTraining" data-email="@user.Email" data-training="@Model.TrainingID" href="#">Odhlás používateľa</a></td>
        </tr>
        }

        </table>

}