@model Speranza.Models.LoginModel

@{
    ViewBag.Title = "Speranza";
    Layout = "~/Views/LayoutNotLoggedIn.cshtml";
}
<div class="wrapper">

<div class="container">

    <div class="text-center" style="padding:50px 0">
            <div class="loginForm login-form-1">
                <div class="logo">Vitajte v Speranze!</div>
                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "text-left" }))
            {
                if (Model != null)
                {
                    if (!Model.LoginSuccessful)
                    {
                            <div class="show error success" role="alert">meno alebo heslo nie je správne!</div>
                        }
                    }
                    <div class="form-group">
                        @Html.Label("Email: ", new { @class = "sr-only" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email" })
                    </div>
                    <div class="form-group" style="background-color: transparent">
                        @Html.Label("Heslo: ", new { @class = "sr-only" })
                        @Html.PasswordFor(m => m.Password, new
               {
                   @class = "form-control",
                   placeholder = "heslo"
               })
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            @Html.CheckBoxFor(r => r.RememberMe)
                            <label style="font-weight: normal; vertical-align: middle;" for="RememberMe">Remember me</label>
                        </div>
                    </div>


                    <button type="submit" id="btnSubmit" class="login-button btn btn-block">Prihlásiť sa</button>

                    <p class="loginLinks" style="float: left">@Html.ActionLink("Registrácia ", "Register", "Accounts")</p>
                    <p class="loginLinks" style="float: right">@Html.ActionLink(" Obnova hesla", "ForgottenPass", "Accounts")</p>

                }
            </div>
        </div>
    </div>
    </div>
