@using Speranza.Models.Interfaces;
@using Speranza.Views
@using Speranza.Models;
@model Speranza.Models.CalendarModel
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Rozpis tréningov</h2>

@if (Model != null)
{
    <p> @ViewHelper.ShowMessageInView(Model.Message);</p>
}


<table border="1">
    <tr>
        <th></th>
        @for (int i = 6; i < 21; i++)
        {
            <th>@i.ToString("00"):00</th>
        }

    </tr>
    @foreach(var day in Model.Days)
    {
        <tr>
            <td>@ViewHelper.TranslateDayNames(day.DayName)
            <br/>
                @day.Date
            </td>
             @for (int i = 6; i < 21; i++)
             {
                 ITrainingModel training = day.Trainings.FirstOrDefault(r => r.Time.Hour == i);
                 if (training != null)
                 {
                    <td>
                        @training.Description <br />
                        @training.Trainer <br />
                        @training.RegisteredNumber / @training.Capacity<br />

                        @if (training.IsUserSignedUp)
                        {
                            @Html.ActionLink("Odhlásiť", "SignOff", "Calendar", new { id = training.ID }, null);
                        }
                        else
                        {
                            if (training.RegisteredNumber < training.Capacity)
                            {
                                @Html.ActionLink("Prihlásiť", "SignUp", "Calendar", new { id = training.ID }, null);
                            }
                        }
                       

                    </td>
                 }
                 else
                 {
                    <td></td>
                 }

             }
        </tr>
    }

</table>

