@using Speranza.Models.Interfaces;
@using Speranza.Views
@using Speranza.Models;
@model Speranza.Models.CalendarModel
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <h2>Rozpis tréningov</h2>

    @if (Model != null)
    {
        <p> @Html.Raw(ViewHelper.ShowMessageInView(Model.Message, Model.SignedUpOrSignedOffTraining))</p>
    }


    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                @for (int i = 6; i < 21; i++)
            {
                    <th>@i.ToString("00"):00</th>
                }

            </tr>
        </thead>
        @foreach (var day in Model.Days)
        {
            <tr>
                <td class="warning">
                    @ViewHelper.TranslateDayNames(day.DayName)
                <br />
                @day.Date
            </td>
            @for (int i = 6; i < 21; i++)
            {
                IList<ITrainingModel> trainings = day.Trainings.Where(r => r.Time.Hour == i).ToList();

                if (trainings != null && trainings.Count > 0)
                {
                    <td @(trainings.Any( r=>r.IsUserSignedUp)? Html.Raw("class=\"success\""): Html.Raw(""))>
                        @foreach (var training in trainings)
                        {
                            @training.Description <br />
                            @training.Trainer<br />
                            @training.RegisteredNumber@:/@training.Capacity <br/>

                        if (training.IsUserSignedUp)
                        {
                            if (training.IsAllowedToSignOff)
                            {
                                @Html.ActionLink("Odhlásiť", "SignOff", "Calendar", new { id = training.ID }, null);
                            }
                        }
                        else
                        {
                            if (training.RegisteredNumber < training.Capacity && training.IsAllowedToSignUp && Model.AllowToSignUp)
                            {
                                @Html.ActionLink("Prihlásiť", "SignUp", "Calendar", new { id = training.ID }, null);
                            }
                        }
                            if(training != trainings.Last())
                            {
                                <br />
                                <hr />
                            }
                        }
                    </td>
                }
                else
                {
                    <td></td>
                }

            }
        </tr>
        }

    </table>

</div>