@using Speranza.Models.Interfaces;
@model Speranza.Models.CalendarModel
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Rozpis tréningov</h2>

<table border="1">
    <tr>
        <th></th>
        @for (int i = 6; i < 21; i++)
        {
            <th>@i.ToString("00"):00</th>
        }
        
    </tr>
    @foreach(var day in Model.Days)
    {
        <tr>
            <td>days</td>
             @for (int i = 6; i < 21; i++)
             {
                 ITrainingModel training = day.Trainings.FirstOrDefault(r => r.Time.Hour == i);
                 if (training != null)
                 {
                    <td>
                        @training.Description <br />
                        @training.Trainer <br />
                        @training.RegisteredNumber / @training.Capacity
                    </td>
                 }
                 else
                 {
                    <td></td>
                 }

             }
        </tr>
    }

</table>