@model Speranza.Models.AdminTrainingsModel
@{
    ViewBag.Title = "Správa tréningov";
    Layout = "~/Views/Layout.cshtml";
}
<div class="container">
    <h2>Správa tréningov</h2>

    <div id="messageBox" style="display:none;" class="alert alert-success" role="alert"></div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-xs-1">Dátum</th>
                <th class="col-xs-1">Čas</th>
                <th class="col-xs-3">Popis</th>
                <th class="col-xs-2">Tréner</th>
                <th class="col-xs-1">Prihlásení</th>
                <th class="col-xs-1">Kapacita</th>
                <th>Akcia</th>
            </tr>
        </thead>
        @foreach (var item in Model.Trainings)
        {
            <tr>
                <td id="@item.ID-date">@item.Time.ToString("dd.MM.yyyy")</td>
                <td id="@item.ID-time">@item.Time.ToString("HH:mm")</td>
                <td><input type="text" value="@item.Description" class="trainingDescription form-control input-sm" /></td>
                <td><input type="text" value="@item.Trainer" class="trainingTrainer form-control input-sm" data-training="@item.ID"/></td>
                <td>
                @item.RegisteredNumber
                <span class="label label-info trainingsDetails" style="cursor:pointer" data-training="@item.ID">Detail</span>
                </td>
                <td><input type="text" value="@item.Capacity" class="trainingCapacity form-control input-sm "/></td>
                <td>Zrušiť tréning</td>
            </tr>
        }
    </table>
</div>

@section scripts {
    <script>
        $(function () {
            $('.trainingTrainer').change(function () {

                var self = $(this);
                var trainingID = self.data('training');
                var value = self.prop('value');
                $.ajax({
                    url: "ChangeTrainer",
                    data: { trainingID: trainingID, trainer: value },
                    type: 'POST',
                    dataType: "json",
                    success: function (response) {
                        if (response == 1)
                        {
                            $('#messageBox').html("Tréningu <b>" + $('#' + trainingID + "-date").html() + " " + $('#' + trainingID + "-time").html() + "</b> bol priradený nový tréner: <b>" + value + "</b>");
                            $('#messageBox').show();
                        }
                           
                    }
                });

            });
        });
    </script>
    }
