@model Speranza.Models.RecurringModel

@{
    ViewBag.Title = "Nastavenie opakujúcich sa tréningov";
    Layout = "~/Views/Layout.cshtml";
    string[] days = { "Pondelok", "Utorok", "Streda", "Štvrtok", "Piatok", "Sobota", "Nedeľa" };
}

<div class="container">
    <h2>Nastavenie opakujúcich sa tréningov</h2>

    <form class="form-horizontal" method="post" action="@Url.Action("CreateRecurring")">
        <div class="form-group">
            @Html.LabelFor(m=>m.Trainer,"Tréner", new { @class = "control-label col-sm-1"})
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.Trainer, new { @class = "form-control" })
            </div>
        </div>

        @*Training Description*@
        <div class="form-group">
            @Html.LabelFor(m => m.Description, "Popis", new { @class = "control-label col-sm-1" })
            <div class="col-sm-2">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>

        @*Training Capacity*@
        <div class="form-group">
            @Html.LabelFor(m => m.Capacity, "Kapacita", new { @class = "control-label col-sm-1" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control", type="number", min = "1", @Value = 10})
            </div>
            <input type="submit" class="btn btn-primary" />
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    @for (int i = 7; i < 20; i++)
            {
                        <th>@i.ToString("00"):00</th>
                    }
                </tr>
            </thead>

            @for (int j = 0; j <= 6; j++)
            {
                <tr>
                    <td class="warning">@days[j]</td>
                    @for (int i = 7; i< 20; i++)
                {
                        <td class="text-center">
                            @*<div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">*@
                                   
                            @if(Model.IsTrainingInTime[j*13 + i - 7])
                            {
                                <a href="#"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                <br />
                                var template = Model.Templates.First(r => r.Day == j && r.Time == i);
                                @template.Description
                                <br />
                                @template.Trainer
                                <br />
                                @template.Capacity
                            }
                            else
                            {
                                @Html.CheckBoxFor(r => r.IsTrainingInTime[j * 13 + i - 7])
                            }
                                    @*<span class="glyphicon glyphicon-ok"></span>*@
                                @*</label>*@
                                @*</div>*@
</td>
                    }
                </tr>
            }



        </table>
    </form>
</div>


@section scripts
    {
    <script>
        $(".SetupTraining").click(function () {
            var self = $(this);
            var dayName = self.data('day-name');
            var time = self.data('hour');

            $("#modalHeader").html(dayName +" " + time + ":00");
            $("#SetupTrainingModal").modal("show");
                

        })

    </script>
    }
