@model Speranza.Models.UsersInTrainingModel

@if (Model.Users == null || Model.Users.Count == 0)
{
    <p>Na tomto tréningu nie je nikto prihlásený!</p>
}
else
{
    <table class="table table-striped table-hover" id="myTable">
        <thead>
            <tr>
                <th>Meno</th>
                <th>Priezvisko</th>
                <th>Email</th>
                <th>Akcia</th>
            </tr>
            </thead>

        @foreach (var user in Model.Users)
        {
         <tr>
            <td>@user.Name </td>
            <td>@user.Surname </td>
            <td>@user.Email</td>
             <td><a class="UserSignOut" data-email="@user.Email" data-training="@Model.TrainingID" href="#">Odhlás používateľa</a></td>
        </tr>
        }

        </table>

}
