@model Speranza.Models.TrainingsPageModel

<div class="table-responsive">
    <table class="table table-striped" id="TrainingsTable">
        <thead>
        <tr>
            <th class="col-xs-1">Dátum</th>
            <th class="col-xs-1">Čas</th>
            <th class="col-xs-3">Popis</th>
            <th class="col-xs-2">Tréner</th>
            <th class="col-xs-1">Prihlásení</th>
            <th class="col-xs-1">Kapacita</th>
            <th>Akcia</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Trainings.OrderByDescending(s => s.Time))
        {
            <tr id="@item.ID-Row">
                <td id="@item.ID-date">@item.Time.ToString("dd.MM.yyyy")</td>
                <td id="@item.ID-time">@item.Time.ToString("HH:mm")</td>
                <td>@item.Description</td>
                <td>@item.Trainer</td>
                <td>
                    <span id="@item.ID-RegisteredNumber">@item.RegisteredNumber</span>
                    <span class="trainingsDetails" style="cursor:pointer" data-training="@item.ID">Detail</span>
                </td>
                <td>@item.Capacity</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
</div>