@model Speranza.Models.UsersInTrainingModel


@if (Model.Users == null || Model.Users.Count == 0)
{
    <p style="color:whitesmoke">Na tomto tréningu nie je nikto prihlásený!</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="UsersInTrainingTable">
            <thead>
            <tr>
                <th>Meno</th>
                <th>Priezvisko</th>
                <th>Email</th>
                <th>Akcia</th>
            </tr>
            </thead>
            @foreach (var user in Model.Users)
            {
                <tr id="@user.Email">
                    <td>@user.Name </td>
                    <td>@user.Surname </td>
                    <td>@user.Email</td>
                    <td id="Participation">
                        @if (user.HasNoAvailableTrainings && !user.ParticipationSet)
                        {
                            <a href="#" class="ConfirmParticipation trainingsDetails text-nowrap" id="cp-@user.Email.Replace("@","")" data-training="@Model.TrainingID" data-email="@user.Email"><span class="glyphicon glyphicon-ok" style="color:green;"></span> Potvrď účasť</a>
                            @:&nbsp;&nbsp;
                            <a href="#" class="DisproveParticipation trainingsDetails text-nowrap" id="dp-@user.Email.Replace("@","")" data-training="@Model.TrainingID" data-email="@user.Email"><span class="glyphicon glyphicon-remove" style="color:red;"></span> Potvrď neúčasť</a>
                        }
                        else if (user.ParticipationDisapproved)
                        {
                            @:Nezúčastnil sa
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
        }

<script src="~/Scripts/UsersInTraining.js"></script>
