<!DOCTYPE html>
@{
// Tato cast bude sucastou kazdej stranky}
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/Calendar.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DatePickerStyle.css" rel="stylesheet" />
    <link href="~/Content/TimePickerStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="~/Content/Navbar.css" rel="stylesheet" />
    <link href="~/Content/Speranza.css" rel="stylesheet" />
    <link href="~/Content/Calendar-style.css" rel="stylesheet" />
    <link href="~/Content/image-gallery.css" rel="stylesheet" />
    <link href="~/Content/fs-gal.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
    <link href="~/Images/speranzaIcon.ico" rel="shortcut icon" type="image/x-icon">
    @RenderSection("Styles", false)

</head>
<body class="layout-login-body">

    @{
        var action = ViewContext.RouteData.Values["action"].ToString();
        var controller = ViewContext.RouteData.Values["controller"].ToString();
    }

    <div class="container nav">
        <div class="row">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-nav navbar-header" onclick="location.href='/Home/Speranza'">
                        <p>Speranza</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav @((action == "Calendar" && controller == "Calendar") ? "active" : "")" onclick="location.href=' /Calendar/Calendar'">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <p>Kalendár</p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav @((action == "UserProfile" && controller == "Accounts") ? "active" : "")" onclick="location.href='/Accounts/UserProfile'">
                        <span class="glyphicon glyphicon-queen"></span>
                        <p>Môj profil</p>
                    </button>
                </div>

                @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-nav @((action == "AdminUsers" && controller == "AdminUsers") ? "active" : "")" onclick="location.href='/AdminUsers/AdminUsers'">
                            <span class="glyphicon glyphicon-pawn"></span>
                            <p>Správa používateľov</p>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-nav @((action == "AdminTrainings" && controller == "AdminFutureTrainings") ? "active" : "")" onclick="location.href='/AdminFutureTrainings/AdminTrainings'">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <p>Správa budúcich tréningov</p>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-nav @((action == "AdminTrainings" && controller == "AdminPastTrainings") ? "active" : "")" onclick="location.href='/AdminPastTrainings/AdminTrainings'">
                            <span class="glyphicon glyphicon-eye-close"></span>
                            <p>Správa minulých tréningov</p>
                        </button>
                    </div>
                }
                <div class="btn-group">
                    <button type="button" class="btn btn-nav" onclick="location.href='/Accounts/UserProfile'">
                        <span class="glyphicon glyphicon-hand-down"></span>
                        <p><span class="small">@Session["Email"].ToString()</span></p>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-nav" onclick="location.href='/Accounts/Logout'">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <p>Odhlásiť sa</p>
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Calendar-modernizr.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.ui.timepicker.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/EmailHelper.js"></script>
    <script src="~/Scripts/Calendar-main.js"></script>
    <script src="~/Scripts/filter-tags.js"></script>
    <script src="~/Scripts/fs-gal.js"></script>
    @RenderSection("scripts", false)

</body>
</html>
