<!DOCTYPE html>
@{
// Tato cast bude sucastou kazdej stranky}
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DatePickerStyle.css" rel="stylesheet" />
    <link href="~/Content/TimePickerStyle.css" rel="stylesheet" />
    <link href="~/Content/Speranza.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Speranza</a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Kalendár", "Calendar", "Calendar")</li>
                <li>@Html.ActionLink("Môj profil", "UserProfile", "Accounts")</li>
                @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                {
                    <li>@Html.ActionLink("Správa používateľov", "AdminUsers", "AdminUsers")</li>
                    <li>@Html.ActionLink("Správa tréningov", "AdminTrainings", "AdminTrainings")</li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li> @Html.ActionLink("Prihlásený ako: " +Session["Email"].ToString(), "UserProfile", "Accounts") </li>  
            <li>@Html.ActionLink("Odhlásiť sa", "Logout", "Accounts")</li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.ui.timepicker.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts",false);
</body>
</html>
