<!DOCTYPE html>
@{
// Tato cast bude sucastou kazdej stranky}
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/Calendar.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DatePickerStyle.css" rel="stylesheet" />
    <link href="~/Content/TimePickerStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="~/Content/Navbar.css" rel="stylesheet" />
    <link href="~/Content/Calendar-style.css" rel="stylesheet" />
    <link href="~/Content/octicons.css" rel="stylesheet" />
    <link href="~/Content/Speranza.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/speranzaIcon.ico" rel="shortcut icon" type="image/x-icon">
    @RenderSection("Styles", false)

</head>
<body class="layout-login-body">

    @{
        var action = ViewContext.RouteData.Values["action"].ToString();
        var controller = ViewContext.RouteData.Values["controller"].ToString();
    }

    <div class="container nav">
        <nav class="nav-collapse" role="navigation">
            <ul class="tabs primary-nav">
                <li class="tabs__item">
                    <a href="/Gallery/Index" class="tabs__link @((action == "Index" && controller == "Gallery") ? "active" : "")">Galéria</a>
                </li>
                <li class="tabs__item">
                    <a href="/Calendar/Calendar" class="tabs__link @((action == "Calendar" && controller == "Calendar") ? "active" : "")">Kalendár</a>
                </li>
                <li class="tabs__item">
                    <a href="/Accounts/UserProfile" class="tabs__link @((action == "UserProfile" && controller == "Accounts") ? "active" : "")">Profil</a>
                </li>
                @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                {
                    <li class="tabs__item">
                        <a href="/AdminUsers/AdminUsers" class="tabs__link @((action == "AdminUsers" && controller == "AdminUsers") ? "active" : "")">Klienti</a>
                    </li>
                    <li class="tabs__item">
                        <a href="/AdminFutureTrainings/AdminTrainings" class="tabs__link @((action == "AdminTrainings" && controller == "AdminFutureTrainings") ? "active" : "")">Tréningy</a>
                    </li>
                    <li class="tabs__item">
                        <a href="/AdminPastTrainings/AdminTrainings" class="tabs__link  @((action == "AdminTrainings" && controller == "AdminPastTrainings") ? "active" : "")">História</a>
                    </li>
                }
                <li class="tabs__item">
                    <a href="/Accounts/Logout" class="tabs__link ">Odhlásiť</a>
                </li>
            </ul>
        </nav>
    </div>


<div>
    @RenderBody()
</div>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Calendar-modernizr.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.ui.timepicker.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/EmailHelper.js"></script>
    <script src="~/Scripts/Calendar-main.js"></script>
    <script src="~/Scripts/filter-tags.js"></script>
    <script src="~/Scripts/flexbox-gallery.js"></script>
    <script src="~/Scripts/responsive-nav.min.js"></script>

    <script>
        var navigation = responsiveNav(".nav-collapse", {
            animate: true,                    // Boolean: Use CSS3 transitions, true or false
            transition: 284,                  // Integer: Speed of the transition, in milliseconds
            label: "Menu",                    // String: Label for the navigation toggle
            insert: "before",                  // String: Insert the toggle before or after the navigation
            customToggle: "",                 // Selector: Specify the ID of a custom toggle
            closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
            openPos: "relative",              // String: Position of the opened nav, relative or static
            navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
            navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
            jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
            init: function () { },               // Function: Init callback
            open: function () { },               // Function: Open callback
            close: function () { }               // Function: Close callback
        });

    </script>
    @RenderSection("scripts", false)

</body>
</html>
