<!DOCTYPE html>
@{
// Tato cast bude sucastou kazdej stranky}
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Kalendár","Calendar","Calendar")</li>
            <li>@Html.ActionLink("Môj profil","UserProfile","Accounts")</li>
            <li>@Html.ActionLink("Odhlásiť sa","Logout","Accounts")</li>
        </ul>
        <span>Prihlásený ako: @Html.ActionLink(Session["Email"].ToString(), "UserProfile", "Accounts") </span>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
