@*Modal for pass reset*@
<div class="modal fade" id="ChangePassModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Zmena hesla</h4>
            </div>
            <div class="modal-body">
                <div id="ModalMessageBoxSuccess" style="display:none;" class="alert alert-success" role="alert"></div>
                <div id="ModalMessageBox" style="display:none;" class="alert alert-danger" role="alert"></div>
                @*Staré heslo*@
                <div class="form-group">
                    @Html.Label("Staré heslo:", new { @class = "control-label col-sm-3", @for = "OldPassTextBox" })
                    <div class="col-sm-6 input-group">
                        @Html.Password("OldPassTextBox", "", new { @class = "form-control", id = "OldPass" })
                    </div>
                </div>

                @*Nové heslo*@
                <div class="form-group">
                    @Html.Label("Nové heslo:", new { @class = "control-label col-sm-3", @for = "NewPass" })
                    <div class="col-sm-6 input-group">
                        @Html.Password("NewPassTextBox", "", new { @class = "form-control", id = "NewPass" })
                    </div>
                </div>

                @*Overenie nového heslo*@
                <div class="form-group">
                    @Html.Label("Nové heslo ešte raz:", new { @class = "control-label col-sm-3", @for = "ConfirmPassTextBox" })
                    <div class="col-sm-6 input-group">
                        @Html.Password("ConfirmPassTextBox", "", new { @class = "form-control", id = "ConfirmPass" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="ChangePassButton" type="submit" class="btn btn-primary">Uložiť</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
