@using Speranza.Models;
@model Speranza.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/LayoutNotLoggedIn.cshtml";
}
<div class="container">
    <h2>Registrácia</h2>

    @if (Model != null)
    {
        if ((Model.Messages & RegisterModelMessages.EmailIsEmpty) != RegisterModelMessages.NoMessage)
        {
            <p>Email musí byť vyplnený!</p>
        }
        if ((Model.Messages & RegisterModelMessages.EmailFormatIsIncorrect) != RegisterModelMessages.NoMessage)
        {
            <p>E-mail je v nesprávnom tvare!</p>
        }
        if ((Model.Messages & RegisterModelMessages.PasswordIsEmpty) != RegisterModelMessages.NoMessage)
        {
            <p>Heslo musí byť vyplnené!</p>
        }
        if ((Model.Messages & RegisterModelMessages.PasswordHasNoLetter) != RegisterModelMessages.NoMessage)
        {
            <p>Heslo musí obsahovať aspoň jedno písmeno</p>
        }
        if ((Model.Messages & RegisterModelMessages.PasswordHasNoNumber) != RegisterModelMessages.NoMessage)
        {
            <p>Heslo musí obsahovať aspoň jedno číslo!</p>
        }
        if ((Model.Messages & RegisterModelMessages.PasswordIsTooShort) != RegisterModelMessages.NoMessage)
        {
            <p>Heslo musí obsahovať aspoň 6 znakov!</p>
        }

        if ((Model.Messages & RegisterModelMessages.ConfirmPassIncorrect) != RegisterModelMessages.NoMessage)
        {
            <p>Heslo a jeho overenie sa nezhodujú!</p>
        }
        if ((Model.Messages & RegisterModelMessages.UserAlreadyExists) != RegisterModelMessages.NoMessage)
        {
            <p>Užívateľ s týmto emailom už existuje. Zabudol si heslo? </p>
        }
    }


    @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { @class = "form-horizontal"}))
    {
        <div class="form-group">
            @Html.LabelFor(r=>r.Email,"Email: ", new { @class = "control-label col-sm-2" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(r=>r.Name,"Meno: ", new { @class = "control-label col-sm-2" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(r=>r.Surname,"Priezvisko: ", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(r=>r.PhoneNumber,"Tel. číslo: ", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(r=>r.Password,"Heslo: ", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(r=>r.ConfirmPassword,"Potvrdenie hesla: ", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Registrovať" id="btnSubmit" class="btn btn-info" />
                </div>
                </div>

                }
            </div>
