@using Speranza.Models;
@model Speranza.Models.RegisterModel



@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Registrácia</h2>

@if (Model != null)
{
    if ((Model.Messages & RegisterModelMessages.EmailIsEmpty) != RegisterModelMessages.NoMessage)
    {
        <p>Email musí byť vyplnený!</p>
    }
    if ((Model.Messages & RegisterModelMessages.EmailFormatIsIncorrect) != RegisterModelMessages.NoMessage)
    {
        <p>E-mail je v nesprávnom tvare!</p>
    }
    if ((Model.Messages & RegisterModelMessages.PasswordIsEmpty) != RegisterModelMessages.NoMessage)
    {
        <p>Heslo musí byť vyplnené!</p>
    }

    if ((Model.Messages & RegisterModelMessages.ConfirmPassIncorrect) != RegisterModelMessages.NoMessage)
    {
        <p>Heslo a jeho overenie sa nezhodujú!</p>
    }
    if ((Model.Messages & RegisterModelMessages.UserAlreadyExists) != RegisterModelMessages.NoMessage)
    {
        <p>Užívateľ s týmto emailom už existuje. Zabudol si heslo? </p>
    }
}


@using (Html.BeginForm("Register", "Accounts"))
{
    @Html.Label("Email");
    @Html.TextBoxFor(m => m.Email);
    @Html.Label("Meno");
    @Html.TextBoxFor(m => m.Name);
    @Html.Label("Priezvisko");
    @Html.TextBoxFor(m => m.Surname);
    @Html.Label("Tel. číslo");
    @Html.TextBoxFor(m => m.PhoneNumber);
    @Html.Label("Heslo");
    @Html.PasswordFor(m => m.Password);
    @Html.Label("Potvrdenie hesla");
    @Html.PasswordFor(m => m.ConfirmPassword);
    <input type="submit" value="Registrovať" id="btnSubmit" />
}

