@using Speranza.Models;
@model Speranza.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/LayoutNotLoggedIn.cshtml";
}
<div class="container">



    <div class="text-center" style="padding:50px 0">
        <div class="logo">registrácia</div>
        <div class="login-form-1">
            @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { @class = "text-left" }))
            {
                if (Model != null)
                {
                    if ((Model.Messages & RegisterModelMessages.EmailIsEmpty) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success">email musí byť vyplnený!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.EmailFormatIsIncorrect) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success">email je v nesprávnom tvare!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PasswordIsEmpty) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success">heslo musí byť vyplnené!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PasswordHasNoLetter) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success">heslo musí obsahovať aspoň jedno písmeno!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PasswordHasNoNumber) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success">heslo musí obsahovať aspoň jedno číslo!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PasswordIsTooShort) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success">heslo musí obsahovať aspoň 6 znakov!</div>
                    }

                    else if ((Model.Messages & RegisterModelMessages.ConfirmPassIncorrect) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success">heslo a jeho overenie sa nezhodujú!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.UserAlreadyExists) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success">používateľ s týmto emailom už existuje! zabudol si heslo?</div>
                    }
                }

                <div class="main-login-form">
                    <div class="login-group">

                        <div class="form-group">
                            @Html.LabelFor(r => r.Email, "Email: ", new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.Name, "Meno: ", new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "meno" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.Surname, "Priezvisko: ", new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "priezvisko" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.PhoneNumber, "Tel. číslo: ", new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "tel. číslo" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.Password, "Heslo: ", new { @class = "sr-only" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "heslo" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.ConfirmPassword, "Potvrdenie hesla: ", new { @class = "sr-only" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "potvrdenie hesla" })
                        </div>
                    </div>
                    <button type="submit" id="btnSubmit" class="login-button"><i class="glyphicon glyphicon-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p> @Html.ActionLink("ak už máš účet PRIHLÁS SA!", "Index", "Home")</p>
                </div>
            }
        </div>
    </div>
</div>
