@using Speranza.Models;
@model Speranza.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/LayoutNotLoggedIn.cshtml";
}
<div class="container">



    <div class="text-center" style="padding:50px 0">
        <div class="logo">registrácia</div>
        <div class="login-form-1">
            @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { @class = "text-left" }))
            {
                if (Model != null)
                {
                    if ((Model.Messages & RegisterModelMessages.EmailIsEmpty) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">email musí byť vyplnený!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.EmailFormatIsIncorrect) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">email je v nesprávnom tvare!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PrivacyWasNotConfirmed) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">súhlas so spracovaním údajov musí byť akceptovaný!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.OwnResponsibilityWasNotConfirmed) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">súhlas s cvičením na vlastnú zodpovednosť musí byť akceptovaný!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PasswordIsEmpty) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">heslo musí byť vyplnené!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PasswordHasNoLetter) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">heslo musí obsahovať aspoň jedno písmeno!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PasswordHasNoNumber) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">heslo musí obsahovať aspoň jedno číslo!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.PasswordIsTooShort) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">heslo musí obsahovať aspoň 6 znakov!</div>
                    }

                    else if ((Model.Messages & RegisterModelMessages.ConfirmPassIncorrect) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">heslo a jeho overenie sa nezhodujú!</div>
                    }
                    else if ((Model.Messages & RegisterModelMessages.UserAlreadyExists) != RegisterModelMessages.NoMessage)
                    {
                        <div class="login-form-main-message show error success loginNotSuccess">používateľ s týmto emailom už existuje! zabudol si heslo?</div>
                    }
                }

                <div class="main-login-form">
                    <div class="login-group">

                        <div class="form-group">
                            @Html.LabelFor(r => r.Email, "Email: ", new { @class = "sr-only" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text octicon octicon-mention" id="basic-addon1"></span>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.Name, "Meno: ", new { @class = "sr-only" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text octicon octicon-person" id="basic-addon2"></span>
                                </div>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "meno" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.Surname, "Priezvisko: ", new { @class = "sr-only" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text octicon octicon-person" id="basic-addon2"></span>
                                </div>
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "priezvisko" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.PhoneNumber, "Tel. číslo: ", new { @class = "sr-only" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text octicon octicon-device-mobile" id="basic-addon2"></span>
                                </div>
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "tel. číslo" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.Password, "Heslo: ", new { @class = "sr-only" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text octicon octicon-key" id="basic-addon2"></span>
                                </div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "heslo" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(r => r.ConfirmPassword, "Potvrdenie hesla: ", new { @class = "sr-only" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text octicon octicon-key" id="basic-addon2"></span>
                                </div>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "potvrdenie hesla" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.CheckBoxFor(r => r.ConfirmDataPrivacy, new { @class = "confirmation" })
                            @Html.LabelFor(r => r.ConfirmDataPrivacy, "Súhlasím so spracovaním osobných údajov.", new { @class = "loginLinks" })
                            <a data-toggle="collapse" data-target="#dataPrivacyText" href="#dataPrivacyText" aria-expanded="false" aria-controls="dataPrivacyText">
                                Zobraz detaily
                            </a>
                            <div class="collapse" id="dataPrivacyText">
                                <div class="card card-block">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.CheckBoxFor(r => r.ConfirmPersonalResponsibility, new { @class = "confirmation" })
                            @Html.LabelFor(r => r.ConfirmPersonalResponsibility, "Potvrdzujem, že cvičím na vlastnú zodpovednosť.", new { @class = "loginLinks" })
                            <a data-toggle="collapse" data-target="#dataResponsibilityText" href="#dataResponsibilityText" aria-expanded="false" aria-controls="dataResponsibilityText">
                                Zobraz detaily
                            </a>
                            <div class="collapse" id="dataResponsibilityText">
                                <div class="card card-block">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="submit" id="btnSubmit" class="login-button btn btn-block"><i class="mega-octicon octicon-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p> @Html.ActionLink("ak už máš účet PRIHLÁS SA!", "Index", "Home")</p>
                </div>
            }
        </div>
    </div>
</div>