@using Speranza.Models;
@model Speranza.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/LayoutNotLoggedIn.cshtml";
}
<div class="container">
    <h2>Registrácia</h2>

   
    @if (Model != null)
    {
        if ((Model.Messages & RegisterModelMessages.EmailIsEmpty) != RegisterModelMessages.NoMessage)
        {
            <p><div class="alert alert-warning" role="alert">Email musí byť vyplnený!</div></p>
        }
        else if ((Model.Messages & RegisterModelMessages.EmailFormatIsIncorrect) != RegisterModelMessages.NoMessage)
        {
            <p><div class="alert alert-warning" role="alert">Email je v nesprávnom tvare!</div></p>
        }
        else if ((Model.Messages & RegisterModelMessages.PasswordIsEmpty) != RegisterModelMessages.NoMessage)
        {
            <p><div class="alert alert-warning" role="alert">Heslo musí byť vyplnené!</div></p>
        }
        else if ((Model.Messages & RegisterModelMessages.PasswordHasNoLetter) != RegisterModelMessages.NoMessage)
        {
            <p><div class="alert alert-warning" role="alert">Heslo musí obsahovať aspoň jedno písmeno!</div></p>
        }
        else if ((Model.Messages & RegisterModelMessages.PasswordHasNoNumber) != RegisterModelMessages.NoMessage)
        {
            <p><div class="alert alert-warning" role="alert">Heslo musí obsahovať aspoň jedno číslo!</div></p>
        }
        else if ((Model.Messages & RegisterModelMessages.PasswordIsTooShort) != RegisterModelMessages.NoMessage)
        {
            <p><div class="alert alert-warning" role="alert">Heslo musí obsahovať aspoň 6 znakov!</div></p>
        }

        else if ((Model.Messages & RegisterModelMessages.ConfirmPassIncorrect) != RegisterModelMessages.NoMessage)
        {
            <p><div class="alert alert-warning" role="alert">Heslo a jeho overenie sa nezhodujú!</div></p>
        }
        else if ((Model.Messages & RegisterModelMessages.UserAlreadyExists) != RegisterModelMessages.NoMessage)
        {
            <p><div class="alert alert-warning" role="alert">Používateľ s týmto emailom už existuje! Zabudol si heslo?</div></p>
        }
    }


    @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { @class = "form-horizontal"}))
    {
        <div class="form-group">
            @Html.LabelFor(r=>r.Email,"Email: ", new { @class = "control-label col-sm-2" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(r=>r.Name,"Meno: ", new { @class = "control-label col-sm-2" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(r=>r.Surname,"Priezvisko: ", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(r=>r.PhoneNumber,"Tel. číslo: ", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(r=>r.Password,"Heslo: ", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(r=>r.ConfirmPassword,"Potvrdenie hesla: ", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Registrovať" id="btnSubmit" class="btn btn-info" />
                </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @Html.ActionLink("Ak už máš účet PRIHLÁS SA!", "Index", "Home")
                    </div>
                </div>
    }
            </div>
