@using Speranza.Models;
@using Speranza.Views;
@model Speranza.Models.UserProfileModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Môj profil</h2>

@using (Html.BeginForm("SaveUserProfile", "Accounts"))
{
<ul>
    
    <li>Email: @Html.LabelFor(m => m.Email) </li>
    <li>Meno:  @Html.TextBoxFor(m => m.Name)</li>
    <li>Priezvisko:  @Html.TextBoxFor(m => m.Surname)</li>
    <li>Tel.číslo:  @Html.TextBoxFor(m => m.PhoneNumber)</li>
    
</ul>

    <input type="submit" value="Uložiť" id="btnSubmit" />


}

<h3>Moje tréningy</h3>

@if (Model != null)
{
    <p> @ViewHelper.ShowMessageInView(Model.Message,Model.SignedUpOrSignedOffTraining)</p>
}

@if (Model.Trainings.Count > 0)
{
    <table border="1">
        @foreach (var item in Model.Trainings)
        {
            <tr>
                <td>@item.Time.ToString("dd.MM.yyyy")</td>
                <td>@item.Time.ToString("HH:mm")</td>
                <td>@item.Description</td>
                <td>@item.Trainer</td>
                <td>
                    @if (item.IsAllowedToSignOff)
                    {
                        @Html.ActionLink("Odhlásiť", "SignOff", "Calendar", new { id = item.ID }, null) 
                    }
                </td>
</tr>
        }
    </table>
}
