@using Speranza.Models;
@model Speranza.Models.UserProfileModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Môj profil</h2>

@using (Html.BeginForm("SaveUserProfile", "Accounts"))
{
<ul>
    
    <li>Email: @Html.LabelFor(m => m.Email) </li>
    <li>Meno:  @Html.TextBoxFor(m => m.Name)</li>
    <li>Priezvisko:  @Html.TextBoxFor(m => m.Surname)</li>
    <li>Tel.číslo:  @Html.TextBoxFor(m => m.PhoneNumber)</li>
    
</ul>

    <input type="submit" value="Uložiť" id="btnSubmit" />


}

<h3>Moje tréningy</h3>
<table border="1">
    <tr>
        <td>16.12.2016</td>
        <td>18:00</td>
        <td>Hard Workout</td>
        <td>Dano</td>
        <td>@Html.ActionLink("Odhlásiť", "SignOff", "Calendar", new { id = "ID" }, null)</td>
    </tr>
    <tr>
        <td>17.12.2016</td>
        <td>12:00</td>
        <td>Hard Workout</td>
        <td>Filip</td>
        <td>@Html.ActionLink("Odhlásiť", "SignOff", "Calendar", new { id = "ID" }, null)</td>
    </tr>
   
</table>