@using Speranza.Models;
@using Speranza.Views;
@model Speranza.Models.UserProfileModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <h2>
        Môj profil
    </h2>
    <button id="ChangePass" class="btn btn-danger"><span class="glyphicon glyphicon-lock"></span> Zmeniť heslo</button>


    @if (Model != null)
    {
        <p> @Html.Raw(ViewHelper.ShowMessageInView(Model.UserProfileMessage))</p>
    }

    @using (Html.BeginForm("SaveUserProfile", "Accounts", FormMethod.Post, new { @class = "form-horizontal myProfileForm myForm" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Email: ", new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Meno: ", new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname, "Priezvisko: ", new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, "Tel. číslo: ", new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Category, "Kategória:", new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Category, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NumberOfFreeSignUps, "Koľko vstupov mi ešte ostáva: ", new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.NumberOfFreeSignUps, new { @class = "form-control",@readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NumberOfPastTrainings, "Koľko som už toho odmakal/a: ", new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.NumberOfPastTrainings, new { @class = "form-control" , @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" value="Uložiť" id="btnSubmit" class="btn btn-default" />
            </div>
        </div>
    }


    <h3>Moje tréningy</h3>

    @if (Model != null)
    {
        <p> @Html.Raw(ViewHelper.ShowMessageInView(Model.CalendarMessage, Model.SignedUpOrSignedOffTraining))</p>
    }

    @if (Model.FutureTrainings.Count > 0 || Model.PastTrainings.Count > 0)
    {
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th class="col-sm-2">Dátum</th>
                    <th class="col-sm-2">Čas</th>
                    <th class="col-sm-4">Popis</th>
                    <th class="col-sm-2">Tréner</th>
                    <th class="col-sm-2">Odhlásiť</th>
                </tr>
            </thead>
            @foreach (var item in Model.FutureTrainings)
                {
                <tr>
                    <td>@item.Time.ToString("dd.MM.yyyy")</td>
                    <td>@item.Time.ToString("HH:mm")</td>
                    <td>@item.Description</td>
                    <td>@item.Trainer</td>
                    <td>
                        @if (item.IsAllowedToSignOff)
                    {
                            @Html.ActionLink("Odhlásiť", "SignOff", "Calendar", new { id = item.ID }, null)
                        }
                    </td>
                </tr>
            }
            @foreach (var item in Model.PastTrainings)
                {
                <tr class="obsolete">
                    <td>@item.Time.ToString("dd.MM.yyyy")</td>
                    <td>@item.Time.ToString("HH:mm")</td>
                    <td>@item.Description</td>
                    <td>@item.Trainer</td>
                    <td><td>
                </tr>
            }
        </table>

    }
</div>

@Html.Partial("ChangePasswordModal")

@section scripts {

<script src="~/Scripts/UserProfile.js"></script>
}